@charset "utf-8";
@import 'variate';

body {
	font: 14px/1.5 'PingFang SC', 'Lantinghei SC', 'Microsoft YaHei', 'HanHei SC', 'Helvetica Neue', 'Open Sans', Arial, 'Hiragino Sans GB', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
.header {
	background-color: #7ec30a;
	height: 56px;
}
.menu {
	padding: 0;
	margin: 0;
	height: 100%;

	a {
		line-height: 56px;
		display: inline-block;
		color: #fff;
		padding: 0 24px;
	}
}
.banner {
	height: 350px;
	overflow: hidden;

	a {
		display: block;
		height: 100%;
		background: url('') no-repeat center;
		background-size: cover;
	}
}
